@media screen and (max-width: 1100px) {
    body {
        padding: 30px;
    }

    .widgets__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    body {
        padding: 15px;
    }

    .interface__weather-button {
        font-size: 24px;
        width: auto;
        min-width: 270px;
    }

    .interface__lower-button {
        font-size: 10px;
    }

    .interface__svg {
        height: 10px;
    }

    .interface__wrapper {
        width: 280px;
        gap: 15px;
    }

    .interface__input {
        width: 100px;
    }

    .widgets__list {
        grid-template-columns: repeat(1, 1fr);
    }
}