.widgets {
    margin: 40px 0px 20px;
}

.widgets__list {
    display: grid;
    grid-gap: 35px 50px;
    grid-template-columns: repeat(3, 1fr);
}

.widgets__widget {
    min-width: 300px;
    position: relative;
    padding: 15px 10%;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widgets__widget::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -15px;
    right: -10px;
    z-index: -1;
    border-radius: 30px;
    background-color: #355FCA;
}

.widgets__coordinates {
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #355FCA;
    padding: 8px 50px;
    border-radius: 30px;
    text-align: center;
}

.widgets__weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.widgets__icon {
    width: 45px; 
    height: 45px; 
}

.widgets__description {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.widgets__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.widgets__temperature {
    font-size: 96px;
    font-weight: 400;
}

.widgets__name {
    padding-top: 10px;
    opacity: 60%;
    font-size: 12px;
}

.widgets__value {
    padding-top: 5px;
    font-size: 16px;
}

.widgets__map-wrapper {
    min-height: 240px;
    margin-top: 30px;
    border-radius: 30px;
    overflow: hidden;
}

.widgets__map {
    max-width: 320px;
    border-radius: 30px;
    transition: opacity 0.3s ease;
    transition: transform 1s ease;
    display: block;
}

.widgets__map:hover {
    opacity: 75%;
    transform: scale(1.2);
}